@use '~Theme' as *;
@use "~Sass/mixins" as mix;

.taskconfig {
	@include mix.card;
	grid-area: taskconfig;
	background: white;
	position: relative;

	margin-bottom: 2.4rem;
	overflow-y: scroll;

	display: grid;
	gap: 2.4rem;

	.headline {
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 0;
		background: white;
		z-index: 999;
		border-bottom: 1px solid lightgrey;
	}

	.textfield {
		padding-left: 2.4rem;
		padding-right: 2.4rem;
	}

	.textfield:last-child {
		padding-bottom: 2.4rem;
	}
}

.textfield.time {
	flex-direction: row;
	justify-content: space-between;

	.input {
		width: 30%;
		overflow: hidden;
	}
}

.textfield.textarea {
	.input {
		border-style: none;
		border-color: Transparent;
		overflow: auto;
		outline: none;

		border: 0.1rem solid $input-border;
		border-radius: 0.4rem;
		padding: 0.8rem;
		margin-top: 2.6rem;
		min-height: 20rem;
		resize: none;

		&:focus {
			border-color: $accent-focus;
		}
	}
}
