@use '~Theme' as *;
@use "~Sass/mixins" as mix;

@mixin task-button {
	@include mix.card;
	background: white;
	display: grid;
	gap: 24px;
	// grid-area: taskconfig;
	// margin-bottom: 24px;
	overflow-y: scroll;
	position: relative;

	background: rgb(5, 177, 177);

	color: white;
	border: none;
	border-radius: 4px;

	&:disabled,
	&[disabled] {
		background: #cccccc !important;
		color: #666666;
		cursor: default;
	}
}

.taskconfig {
	@include mix.card;

	background: white;
	display: grid;
	gap: 24px;
	grid-area: taskconfig;
	margin-bottom: 24px;
	overflow-y: scroll;
	position: relative;
	width: 340px;

	grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));

	.headline {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: column;
		gap: 12px;
		background: inherit;
		border-bottom: 1px solid lightgrey;
		grid-column: 1/-1;

		& > *:first-child {
			// background: red;
			flex-grow: 1;
		}

		span {
			font-size: 12px;
			font-style: italic;
			font-weight: 400;
			color: grey;
		}

		.button {
			@include mix.button;
			font-size: 12px;
			font-weight: 500;
		}

		.delete-button {
			color: rgb(248, 81, 69) !important;
			display: flex;
			align-items: center;
		}
	}

	.textfield {
		padding-left: 2.4rem;
		padding-right: 2.4rem;
	}

	.textfield:last-child {
		padding-bottom: 2.4rem;
	}
}

.textfield.time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 8px;
	// flex-direction: row;
	// justify-content: space-between;

	.title {
		grid-column: 1/-1;
	}

	.helpertext {
		grid-column: 1/-1;
	}

	.input {
		width: 100%;
		overflow: hidden;
	}
}

.textfield.textarea {
	grid-column: 1/-1;
	.input {
		border-style: none;
		border-color: Transparent;
		overflow: auto;
		outline: none;

		border: 0.1rem solid $input-border;
		border-radius: 0.4rem;
		padding: 0.8rem;
		min-height: 20rem;
		resize: none;

		&:focus {
			border-color: $accent-focus;
		}
	}
}
