@use '~Theme' as *;
@use "~Sass/mixins" as mix;

.taskconfig {
	@include mix.card;

	background: white;
	display: grid;
	gap: 24px;
	grid-area: taskconfig;
	margin-bottom: 24px;
	overflow-y: scroll;
	position: relative;
	width: 340px;

	.headline {
		background: inherit;
		border-bottom: 1px solid lightgrey;
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 999;
	}

	.textfield {
		padding-left: 2.4rem;
		padding-right: 2.4rem;
	}

	.textfield:last-child {
		padding-bottom: 2.4rem;
	}
}

.textfield.time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 8px;
	// flex-direction: row;
	// justify-content: space-between;

	.title {
		grid-column: 1/-1;
	}

	.helpertext {
		grid-column: 1/-1;
	}

	.input {
		width: 100%;
		overflow: hidden;
	}
}

.textfield.textarea {
	.input {
		border-style: none;
		border-color: Transparent;
		overflow: auto;
		outline: none;

		border: 0.1rem solid $input-border;
		border-radius: 0.4rem;
		padding: 0.8rem;
		min-height: 20rem;
		resize: none;

		&:focus {
			border-color: $accent-focus;
		}
	}
}
