@use "~Sass/mixins" as mix;

.tasklisting {
	@include mix.card;
	grid-area: tasklisting;
	display: grid;
	grid-auto-rows: min-content;
	padding: 0;
	font-size: 13px;
	background: white;

	margin-top: 2.4rem;
	margin-bottom: 2.4rem;

	.headline {
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 999;
		border-bottom: 1px solid lightgrey;
		padding: 0 24px;
		height: 60px;

		.create-group {
			@include mix.card;
			min-width: 80px;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.2rem;
			padding: 8px;
			background: rgb(5, 177, 177);
			color: white;
			border: none;
			border-radius: 4px;
		}
	}

	li {
		padding: 16px 24px;
		&:hover {
			background: rgb(230, 230, 230);
			cursor: pointer;
		}
	}
}
