@use "~Theme" as *;
@use "~Sass/mixins" as mix;

.state-timeline {
	display: grid;
	gap: 2.4rem;
	padding: 2.4rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 36px;
	user-select: none;

	.state-node {
		@include mix.card;
		@include mix.flex-center;
		text-transform: uppercase;
		background: white;
		font-size: 13px;
		// background: red;
		cursor: default;
	}
}
