@use "~Theme" as *;
@use "~Sass/mixins" as mix;

.state-timeline {
	display: flex;
	padding: 2.4rem 3.6rem;
	align-items: center;
	user-select: none;

	> hr {
		flex-grow: 1;
		border: 1px solid lightgrey;
		margin: 0 8px;
	}

	.state-node {
		width: 40px;
		height: 40px;
		@include mix.card;
		@include mix.flex-center;
		text-transform: uppercase;
		background: white;
		font-size: 13px;
		cursor: default;
		border-radius: 999px;
		position: relative;

		.state-label {
			position: absolute;
			bottom: -24px;
			font-size: 1.2rem;
			left: 50%;
			margin-left: -40px;
			width: 80px;
		}

		// &:first-child > .state-label {
		// 	left: 0;
		// }

		// &:last-child > .state-label {
		// 	right: 0;
		// 	// background: red;
		// }
	}
}
