@use "~Theme" as *;

.dropbar {
	grid-area: dropbar;
	position: relative;
	padding: 0 24px;

	.nav {
		padding-top: 32px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: column;

		li {
			text-decoration: none;
			list-style: none;
			text-transform: uppercase;
			font-size: 12px;
			// letter-spacing: 1px;
		}
	}

	.left-section {
		display: grid;
		grid-auto-flow: column;
		padding: 0;
		justify-content: left;
	}

	.right-section {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 32px;
		justify-content: right;
	}

	.toggle {
		cursor: pointer;
		padding-bottom: 4px;

		&.active {
			width: min-content;
			border-bottom: 2px solid $accent-focus;
		}
	}
}
